.btn-outline-success {
  color: green;
  border-color: green;
}

.btn-outline-success:hover {
  background-color: green;
  color: white;
  border-color: green;
}

.nav-color {
  color: green;
}

.nav-color:hover {
  color: green;
  font-weight: bold;
}

.first_box {
  width: 80%;
  border: solid 2px red;
  display: flex;
  justify-content: space-between;
}

.layout-box1 {
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  /* margin-right: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
